body {
    text-align:center;
	background-color: rgb(243, 196, 204);
}
#banner{
	width: 25%;
}
h1 {
	text-align: center;
	height: 60px; 
	border: 6px solid #c4fdff;
	padding-top: 20px;
	margin-left: 15px;
}

.beneficios {
	background: #c4fdff;
	padding: 20px;
}

ul {
	display: inline-block;
	vertical-align: -top;
	width: 20%;
	margin-right: 15%;
}

.imagembeneficios {
	width: 12%;
}
.itens {
	font-style: bold;
	font-size: 20px;
}